<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Este es el logo"/></a>
            </div>
            <div class="barra">
                <form action="" method="post">
                    <input type="text" name="Barra de Navegación" placeholder="Buscar Productos">
                    <div class="lupa"><i class="fas fa-search"></i></div>
                </form>
            </div>
            <div class="PrimerTitulo">
                <h5 class="compras"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de créditos
                </h5>
            </div>
        </div>
        <nav class="menu">

            <ul class="columnaIzquierda">
                <li>
                    <p>Ofertas</p>
                </li>
                <li>
                    <p>Tiendas Oficiales</p>
                </li>
                <li>
                    <p>Vender</p>
                </li>
                <li>
                    <p>Ayuda</p>
                </li>
            </ul>

            <ul class="columnaDerecha">
                <li><a href="/register">Creá tu Cuenta <i class="fas fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a>Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-h">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="formulario">
            <form action="/register" method="post">
                <div>
                    <input type="text" name="nombre" placeholder="Nombre y Apellido">
                </div>
                <div>
                    <input type="text" name="usuario" placeholder="Usuario">
                </div>
                <h5>Fecha de nacimiento</h5>
                <div>
                    <input type="date" name="nacimiento" id="nacimiento">
                </div>
                <div>
                    <input type="text" name="domicilio" placeholder="Domicilio">
                </div>
                <h5>Perfil de usuario</h5>
                <div>
                    <label><input type="radio" name="perfil" >Comprador</label>
                    <label><input type="radio" name="perfil" >Vendedor</label>
                </div>
                <h5>Categorías de interés</h5>
                <div class="columna">
                    <label><input type="checkbox" name="Electro">Electro</label>
                    <label><input type="checkbox" name="Moda">Moda</label>
                    <label><input type="checkbox" name="Hogar">Hogar</label>
                    <label><input type="checkbox" name="Juguetería">Juguetería</label>
                    <label><input type="checkbox" name="Vida Sana">Vida Sana</label>
                </div>
                <div>
                    <label for="foto">Foto de Usuario</label>
                    <input type="file" name="Foto" id="foto">
                </div>
                <div>
                    <input type="password" name="Contraseña" placeholder="Contraseña">
                </div>
                <div>
                    <input type="password" name="nacimiento" placeholder="Confirmar contraseña">
                </div>
                <div>
                    <button type="submit">Enviar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="elementoFooter">
                <div class="iconosBlue"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
            <div class="elementoFooter">
                <div class="iconosBlue"><i class="fas fa-gift"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio
                    de
                    Mercado Puntos.</p>
            </div>
            <div class="elementoFooter">
                <div class="iconosBlue"><i class="fas fa-user-shield"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.
                </p>
            </div>
        </div>
        <div><p class="copy">Copyright © 1999-2022 MercadoLiebre S.R.L.</p></div>
    </footer>
</body>